<!DOCTYPE html>
<html>
  <head>
    <title>GO RAIDERS!!!!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
        <p>
            The Oakland Raiders are 3 time Super Bowl CHAMPIONS!
        </p>
    <%= yield %>
    </body>
</html>
